<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket-io game</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel = "stylesheet" href = "static/css/index.css">
</head>
<body>

    <canvas id="canvas" width="400" height="400">
      <p>Your browser does not support HTML5!</p>
    </canvas>      

    <div id="play-menu" >
        <h1>A .io game</h1>
        <p>
          Welcome to the .io game. Your goal, to Win. The game revolves around building sockets to nearby computers to mine for cryptocoins and eventually scan for the password! BUT!!! BE WARNED!!!(evil music) If one of your computer stops being connected to your home base via the sockets you create, you lose them!!(dun dun dun) Thread with caution.
        </p>
        <hr />
        <input type="text" id="username-input" placeholder="Enter Username" />
        <button id="play-button"  onclick= "Remove()" >PLAY</button>
    </div>
    <div id="progress-holder">
        <div id="scanning_progress">
        </div>
    </div>
    <script src = 'static/js/index.js'></script>

</body>
</html>
