<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Won!</title>
    <style>
        body {
            background-color: rgb(138,3,3);
            text-align: center;
        }
        p {
            color: white;
            font-size: 22px;
            margin-top: 25px;
        }
        img {
            width: 350px;
            height: 350px;
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <img src="https://cdn.discordapp.com/attachments/644364892979331086/709084947360776233/bbcs-2020.png" 
    alt="BuildingBlocs 2020 Logo">
    <p>You successfully found the password! Congrats! You are one step closer to escaping. Now use this password and continue on your journey. I wish you all the best!</p>
    <p>The password you got is: {{ password }}</p>
    <p>Did you know? The password is actually encrypted using rot 69. You can decode it to se what it really says!</p>
</body>
</html>
